.bushImages {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bushImages img {
  width: 30%; /* Adjust as needed */
  height: auto;
}


body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #111; 
}

#lampWrapper {
    position: absolute;
    left: 200px;
    top: 200px;
    cursor: grab;
} 
/* grab div instead of just the image because it can be modified more easily */

#handLamp {
    width: 200px; 
    user-select: none; 
    pointer-events: none; 
}
