.image-container {
  display: flex; /* Aligns items in a row */
  justify-content: space-around; /* Distributes space */
  align-items: flex-end; /* Aligns items to the bottom of the container */
  width: 100%;
  /* Position at bottom */
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-container img {
  width: 30%; /* Adjust as needed */
  height: auto;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #111; 
}

#lampWrapper {
    position: absolute;
    left: 200px;
    top: 200px;
    cursor: grab;
} 
/* grab div instead of just the image because it can be modified more easily */

#handLamp {
    width: 200px; 
    user-select: none; 
    pointer-events: none; 
}
