

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #111; 
}

#lampWrapper {
    position: absolute;
    left: 200px;
    top: 200px;
    cursor: grab;
} 


#handLamp {
    width: 200px; 
    user-select: none; 
    pointer-events: none; 
}

#handLamp {
  width: 70px; 
  height: auto;
}

.bug {
  width: 80px;
  height: 80px;
  background-image: url("bug.png");
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
}

#gameOverScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 9999;

}
