body {
    font-family: sans-serif;
    text-align: center;

    background-image: url("flower-field.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-top: 20px;
}

.rock {
    width: 150px;
    height: 150px;

    background-image: url("exercises/images/rock.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    /* fade out effect */
    transition: opacity 0.4s ease;
    position: relative;  
}

.rock.hidden {
    opacity: 0;
    pointer-events: none;
}

.hidden-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}
