body {
    font-family: sans-serif;
    text-align: center;

    background-image: url("flower-field.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
}


.rock1 {
    position: absolute;   
    width: 200px;
    height: 100px;
    top: 90%;
    left: 10px;
    transition: opacity 0.4s ease;
     z-index: 999;
}
.rock2 {
    width: 180px;
    height: 80px;
    /* fade out effect */
    transition: opacity 0.4s ease;
    position: absolute;
    top: 80%;
    left: 30%;

}

.rock3 {
     width: 100px;
    height: 50px;
    /* fade out effect */
    transition: opacity 0.4s ease;
    position: absolute;
    top: 60%;
    left: 50%;

}

.rock4 {
     width: 200px;
    height: 100px;
    /* fade out effect */
    transition: opacity 0.4s ease;
    position: absolute;
    top: 80%;
    left: 70%;
}

.rock5 {
     width: 90px;
    height: 40px;
    /* fade out effect */
    transition: opacity 0.4s ease;
    position: absolute;
    top: 55%;
    left: 30%;
}

.rock.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.hidden-item {
    width: 5%;
    height: 5%;
    position: absolute;
    top: 92%;
    left: 8%;
    z-index: 5;
}
