body {
    font-family: sans-serif;
    text-align: center;
    
}

#game {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
/*still need to insert png. I didn't have the time but will find a place to insert it. Was working on making the base code*/


 /*flip transformation*/
.rock.flipped {
    background: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

/*refection is that it's been pretty solid. Just worked on the base code, now fixing details is next. Perhaps can ask some more expereinced on what I can do better, or what is there I can add on here.*/
