/* Integrated Pages' CSS */


#pageTitle {
    text-align: center;
    text-decoration: underline;
}

#pageTitle, .page1, .page2, .page3, .page4, .page5 {
  display: none;
}

.spotlight-container {
  cursor: none;
  --cursorX: 50%;
  --cursorY: 50%;
  width: 100vw; 
  height: 100vh;
  position: relative;
}

.spotlight-container:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed; 
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  );
  z-index: 999; 
}