/* Integrated Pages' CSS */


#pageTitle {
    text-align: center;
    text-decoration: underline;
}

#pageTitle, .page1, .page2, .page3, .page4, .page5 {
  display: none;
}

.spotlight-container {
  cursor: none;
  --cursorX: 50%;
  --cursorY: 50%;
  width: 100vw; 
  height: 100vh;
  position: relative;
}

.spotlight-container:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed; 
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  );
  z-index: 999; 
}

/* Background for Page 0 */
.page0Body {
  background-image: url('lamp-thegame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



/* Bug Game CSS */
.page1body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #111;
  background-image: url('night-glow.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#page1lampWrapper {
    position: absolute;
    left: 200px;
    top: 200px;
    cursor: grab;
} 


#page1handLamp {
    width: 200px; 
    user-select: none; 
    pointer-events: none; 
}

#page1handLamp {
  width: 200px; 
  height: auto;
}

.page1bug {
  width: 80px;
  height: 80px;
  background-image: url("bug.png");
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
}

#page1counter {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1000;
  pointer-events: none;
}


/* Background for Page 2 */
.page2body {
  background-image: url('forest-deer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page2h1,.page2p {
   text-align: center; display: flex; justify-content: center;
   color: white;
}

 .page2winCup {
  display: flex;
  justify-content: center;
 }



/* Background for Page 3 */
.page3bushImages {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  left: 0;
}

.page3bushImages img {
  width: 70%; /* Adjust as needed */
  height: auto;
}


.page3body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #111; 
  background-image: url('forest-deer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#page3lampWrapper {
    position: absolute;
    left: 200px;
    top: 300px;
    cursor: grab;
} 
/* grab div instead of just the image because it can be modified more easily */

#page3handLamp {
    width: 200px; 
    user-select: none; 
    pointer-events: none; 
}

.w3-animate-fadingAway{animation:fading 5s }@keyframes fading{100%{opacity:0}50%{opacity:0}0%{opacity:0}}


