.plants {
    position: relative;   
    width: 100%;
    height: 600px;        
}

.p1 { top: 300px; left: 200px; }
.p2 { top: 350px; left: 450px; }
.p3 { top: 330px; left: 900px; }
.p4 { top: 220px; left: 1200px; }
.p5 { top: 250px; left: 1300px; }


.plant-pos {
    position: absolute;
    display: inline-block;
    pointer-events: none;       
}


.plant-pos img {
    pointer-events: auto;       
    transform-origin: bottom center; 
    height: 200px;             
}

.p1 img {
    height: 150px; 
}

.p2 img {
    height: 500px;
}

.p3 img {
    height: 300px; 
}

.p4 img {
    height: 150px; 
}

.p5 img {
    height: 700px;
}
