body {
  background-image: url("flower-field.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,p {
   text-align: center; display: flex; justify-content: center;
   color: white;
}

 .winCup {
  display: flex;
  justify-content: center;
 }

 .button {
    padding: 50px;
 }
